body{
padding: 0;
margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.calculator{
    border: 2px solid #1a198d;
    width: 30vw;
    height: 40vh;
}
.calculator input[type="button"] {
    border: 1px solid #1a198d;
    border-radius: 2px;
    background: none;
    color: #1a198d;
    width: 100%;
    height: 40px;
}
.calculator input[type="text"] {
    border: 1px solid #1a198d;
    border-radius: 2px;
    text-align: right;
    width: 98%;
    height: 38px;
    padding: 0 3px;
}
#equal {
    height: 100%;
}